* {
    box-sizing: border-box;
}

body {
    margin: 0;
}



.container {
    border: 1px solid; 
    margin-top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(57, 180, 131);
}

input:hover{
    background-color: rgb(216, 179, 33);
}

input {
    
    border-radius: 5px;
    border: 1px solid;
    height: 60px;
    width: 400px;
    font-size: 1.5rem;
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color:rgb(238, 128, 49)
}

ul {
    border: 2px solid;
    border-radius: 10px;
    background-color: rgb(238, 211, 175);
    height: 375px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    font-size: 1.5rem; 
    text-align: center;
    padding-left: 0;
    overflow: auto;
    /* list-style:armenian; */
 
}

li {
    margin-top: 5px;
    color: brown;
}
