* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    background-color: #fff;
    color: rgb(57, 180, 131);
    margin: 0 5px;
}

.container {
    display: flex;
    border: 1px solid; 
    margin-top: 0;
    width: 100vw;
    background-color: rgb(57, 180, 131);
    color: #fff;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.filter-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 20px;
}

.filter {
    border: 1px solid #fff;
    padding: 5px;
}

.differ {
    font-size: 1.2rem;
    font-weight: 500;
}


input:hover{
    background-color: rgb(216, 179, 33);
}

input {    
    border-radius: 5px;
    border: 1px solid;
    height: 60px;
    max-width: 100%;
    font-size: 1.5rem;
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color:rgb(238, 128, 49)
}

ul {
    border: 2px solid;
    border-radius: 10px;
    background-color: rgb(238, 211, 175);
    height: 375px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    font-size: 1.5rem; 
    text-align: center;
    padding-left: 0;
    overflow: auto;
}

li {
    margin-top: 5px;
    color: brown;
}
